<div class="item col-md-4">
    <h2>{{title}}</h2>
    <iframe class="video w100 card-img-top" width="640" height="360" src="//www.youtube.com/embed/{{videoid}}" frameborder="0" allowfullscreen></iframe>
</div>
